div.header-tools
    div.l-content-wrapper.header-tools-wrapper
        div.header-tools-time
            i.fa.fa-clock.header-tools-time__icon
            span.header-tools-time__text 13:24 Uhr
        ul.header-tools-actions
            li.header-tools-actions__item
                a.header-tools-actions__button
                    i.fa.fa-facebook.header-tools-actions__icon
                a.header-tools-actions__button
                    i.fa.fa-twitter.header-tools-actions__icon
            li.header-tools-actions__item
                button.header-tools-actions__button
                    i.fa.fa-chat.header-tools-actions__icon
                    span.header-tools-actions__text Live chat
            li.header-tools-actions__item
                button.header-tools-actions__button
                    i.fa.fa-settings.header-tools-actions__icon
                    span.header-tools-actions__text Settings


div.header-logo
    div.l-content-wrapper.header-logo-wrapper
div.header-menu
    div.l-content-wrapper.header-logo-wrapper