html
    head
        title Bank offer
        meta(name="viewport" content="width=device-width, initial-scale=1")

        script(src="lib/es6-shim/es6-shim.min.js")
        script(src="lib/zone.js/dist/zone.js")
        script(src="lib/reflect-metadata/Reflect.js")
        script(src="lib/systemjs/dist/system.src.js")
        script(src="lib/ng2-bootstrap/bundles/ng2-bootstrap.min.js")

        script(src="config/systemjs.config.js")
        script System.import('app').then(null, console.error.bind(console));


        link(rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet" href="theme.css")
        link(rel="stylesheet" href="styles.css")

    body
        app
            div.loader Loading...